[submodule "my_plugins/jedi-vim"]
	path = my_plugins/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "my_plugins/vim-searchindex"]
	path = my_plugins/vim-searchindex
	url = https://github.com/google/vim-searchindex.git
[submodule "my_plugins/vim-devicons"]
	path = my_plugins/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "my_plugins/YouCompleteMe"]
	path = my_plugins/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "my_plugins/editorconfig-vim"]
	path = my_plugins/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "my_plugins/vim-autoformat"]
	path = my_plugins/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat
